:root {
  --main-bg-color-light: #ebebeb;
  --main-bg-color-dark: #191919;
  --main-text-color-dark: #ffffff;
  --main-text-color-light: #111111;
  --nav-bg-color: #430460;
  --dark-purple: #3d0754;
  --base-purple: #6f139b;
  --base-yellow: #fdc700;
}

#search-button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: var(--base-purple);
  color: white;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  display: none;
  transition: display 0.1s ease-in-out;
}

#search-button:hover {
  background-color: #601084;
}

#search-button:active {
  outline: white solid 1px;
}


/* Search section */
.search-section {
  background-color: var(--base-yellow);
  color: black;
  margin: 20px 0;
  padding-bottom: 20px;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #eee;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  transition: background-color 0.1s ease-in-out, width 0.1s ease-in-out;
}

.search-input:focus {
  background-color: #fff;
  outline: none;
  border: none;
  overflow: outline;
  transition: background-color 0.1s ease-in-out, width 0.1s ease-in-out;
}

.search-input:focus::placeholder {
  color: transparent;
}

.input-area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 94%;
}


/* Resultados búsqueda */
.resultados-busqueda {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  border-radius: 5px;
  gap: 10px;
  padding: 20px;
}

.resultados-busqueda a {
  color: rgb(255, 163, 252);
  text-decoration: none;
}

.resultado-busqueda {
  background-color: var(--base-purple);
  color: white;
  display: flex;
  border-radius: 6px;
  transition: opacity 0.5s;
}

.resultado-busqueda:hover {
  background-color: #601084;
}

.resultado-busqueda img {
  width: 100px;
  height: 100px;
  border-radius: 6px 0 0 6px;
  object-fit: cover;
}

.resultado-metadata {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
