{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <section class="search-section">
      <h1>¿Qué buscamos hoy?</h1>
      <form id="search-form" class="input-area">
        <textarea name="search-text" id="search-text" rows="1" placeholder="Ingrese su búsqueda..."></textarea>
        <button id="search-button" name="search-button" type="submit">Buscar</button>
      </form>
    </section>

    <section class="resultados-busqueda" id="resultados-busqueda">
      <div class="resultado-busqueda"></div>
    </section>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}